body{
    font-family: 'lato', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 100;

    strong{
        font-weight: bold;
    }

    p{
        padding-bottom: 30px;

        &:last-child{
            padding-bottom: 0;
        }
    }
    nav{ 
        a{
            text-decoration: none;
            padding: 2px 5px;
            &.active{
                color: #3d314a;
                font-weight: bold;
                cursor: default;
            }
        }
    }

    nav a:not(.active), .btn-hover-bg{
        position: relative;
        padding: 2px 5px;
        text-decoration: none;


        &::before{
            background: #3d314a;
            content: "";
            inset: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s ease-in-out;
            z-index: -1;
        }
                
        &:hover{
            color: #fff;
            &::before{
                
                transform: scaleX(1);
                transform-origin: left;
            }
        }   

    }

    .btn-underline-bg{
        position: relative;
        text-decoration: none;
        border-bottom: 1px solid;

        &::before{
            background: #3d314a;
            content: "";
            inset: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s ease-in-out;
            z-index: -1;
            top: auto;
            bottom: 0;
            height: 2px;
        }
                
        &:hover{
            &::before{
                transform: scaleX(1);
                transform-origin: left;
             
            }
        }   

    }

    .page_title{
        font-size: 42px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .section_title{
        font-size: 26px;
        font-weight: 100;
        margin-bottom: 30px;
    }

    ul.list-text{
        list-style-type: disc;
        padding-left: 20px;
        li{
            padding-bottom: 15px;
        }
    }

    @media screen and (max-width: 1160px) {
        .page_title{
            font-size: 25px;
            letter-spacing: 1;
        }
    }
}